<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="container">
  <h1>
    Test task
  </h1>

  <form #f="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <input class="form-control" name="hashtag" placeholder="Enter hashtag without #" [(ngModel)]="hashtag">
      <button class="btn btn-primary">Submit</button>
  </form>
  <br />
  <div class="row">
    <div class="col s12 m6" *ngFor="let item of data">
      <div class="card">
        <div *ngIf="item.entities.media" class="card-image">
          <img src="{{ item.entities.media[0].media_url }}" />
        </div>
        <div class="card-content">
          <p>{{ item.text }}</p>
        </div>
      </div>
    </div>
  </div>

</div>
